#eth
CONFIG_ESP_NETIF_TCPIP_ADAPTER_COMPATIBLE_LAYER=y
#
# Ethernet
#
CONFIG_GPIO_RANGE_MIN=0
CONFIG_GPIO_RANGE_MAX=33
CONFIG_ETH_MDC_GPIO=23
CONFIG_ETH_MDIO_GPIO=18
CONFIG_ETH_PHY_RST_GPIO=5
CONFIG_ETH_PHY_ADDR=0
# end of Ethernet
# end of Rathi ETH 2 GSM project specific config.


#napt
CONFIG_LWIP_PPP_SUPPORT=y
CONFIG_LWIP_PPP_PAP_SUPPORT=y
CONFIG_LWIP_TCPIP_TASK_STACK_SIZE=4096
CONFIG_LWIP_PPP_ENABLE_IPV6=y
CONFIG_UART_ISR_IN_IRAM=y
# Enable NAPT
CONFIG_LWIP_IP_FORWARD=y
CONFIG_LWIP_IPV4_NAPT=y
CONFIG_LWIP_STATS=y
CONFIG_LWIP_IPV6_AUTOCONFIG=y
CONFIG_LWIP_PPP_DEBUG_ON=y

CONFIG_LWIP_DEBUG=y
CONFIG_LWIP_NETIF_DEBUG=y
CONFIG_LWIP_PBUF_DEBUG=n
CONFIG_LWIP_ETHARP_DEBUG=n
CONFIG_LWIP_API_LIB_DEBUG=y
CONFIG_LWIP_SOCKETS_DEBUG=n
CONFIG_LWIP_IP_DEBUG=n
CONFIG_LWIP_ICMP_DEBUG=n
CONFIG_LWIP_DHCP_STATE_DEBUG=y
CONFIG_LWIP_DHCP_DEBUG=y
CONFIG_LWIP_IP6_DEBUG=n
CONFIG_LWIP_ICMP6_DEBUG=n
CONFIG_LWIP_TCP_DEBUG=n

	#	
# Log output	
#	
# CONFIG_LOG_DEFAULT_LEVEL_NONE is not set	
# CONFIG_LOG_DEFAULT_LEVEL_ERROR is not set	
# CONFIG_LOG_DEFAULT_LEVEL_WARN is not set	
CONFIG_LOG_DEFAULT_LEVEL_INFO=y	
# CONFIG_LOG_DEFAULT_LEVEL_DEBUG is not set	
# CONFIG_LOG_DEFAULT_LEVEL_VERBOSE is not set	
CONFIG_LOG_DEFAULT_LEVEL=3	
CONFIG_LOG_COLORS=y	
CONFIG_LOG_TIMESTAMP_SOURCE_RTOS=y	
# CONFIG_LOG_TIMESTAMP_SOURCE_SYSTEM is not set	
# end of Log output


  
# Override some defaults to enable PPP
CONFIG_LWIP_PPP_NOTIFY_PHASE_SUPPORT=y